
<%= link_to 'new post', new_post_path %>

<br>
<br>

	<table border="1px">
		<tr>
			<th>Title</th>
			<th>description</th>
			<% if user_signed_in?%>
			<th>edit</th>
			<th>delete</th>
			<%end%>
			<th>show</th>
			
		</tr>
		<% @post.each do |post|%>
			<tr>
				<td><%= post.title %></td>
				<td><%= post.description%></td>
				
				<% if current_user == post.user %>
				<td><%= link_to 'Edit', edit_post_path(post) %></td>
				<td><%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				<% end %>
				<td><%= link_to 'Show', post_path(post) %></td>
			</tr>
		<%end%>
	</table>
	





